.table {
    width: 100%;
    height: 100%;
    display: table;

    .cell {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        display: table-cell;
    }
}

.wrapper {
    position: relative;
    top: 60px;
    display: block;
    width: 100%;
    height: 90%;
}

